* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  text-align: center;
}

#unity-canvas {
  display: block;
  margin: 0 auto;
}

@-moz-document url-prefix() {
  #unity-canvas  
  {
    margin: 0 auto;
  }
}

canvas{
  resize: both;
  overflow: auto;
}

#unity-loading-bar {
  position: absolute;
  left: 30%;
  top: 50%;
  width: 40%;
  height: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#unity-progress-bar {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 1%;
  height: 100%;
  background-color: #ccc;
  border-radius: 10px;
  transition: 400ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
